body {
  background-color: #1F1919;
  font-family: HelveticaNeueCyr;
}

* {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.section {
  /* width: 100vw; */
}

/* TOP START */

.top {
  padding: 133px 0;
  position: relative;
}

.top_wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.top_left {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: inline-block;
}

.top_text {
  text-decoration: none;
  width: 450px;
  margin: 5%;
}

.top_main_text {
  color: #1f1919;
  font-family: Artegra Sans Extended;
  font-size: 30px;
  font-weight: 900;
  line-height: 47px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
  letter-spacing: 4px;
  transition: all .5s;
  
}

.top_about_text {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #D2284D;
}

.top_link_text {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  color: #878787;
}

.top_right {
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: inline-block;
}

.top_right img {
  width: 220px;
}

/* TOP END */

/* ABOUT START */

.about {
  padding: 132px 0 128px;
  position: relative;
  background-color: #bb4c65;
}

.about h2 {
  margin-bottom: 39px;
}

.about_wrapper {
  padding-left: 3%;
  padding-right: 3%;
}

.about_background{
  position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(  media/about.svg) center;
    background-size: cover;
}

.about h2 {
  font-family: 'Artegra Sans Extended';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  text-transform: uppercase;

  color: #E9E9E9;
}

.timer_markup {
  position: absolute;
    width: 2px;
    background: #C95C73;
    top: 0;
    left: 4px;
    bottom: 0;  
}

.timer {
  position: relative;
}

.timer_item {
  padding-left: 38px;
  display: flex;
  align-items: baseline;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  position: relative;
  margin-bottom: 45px;
}

.timer_point {
  position: absolute;
  left: 0;
  top: 15.5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #c95c73;
}

.timer_date {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  line-height: 40px;
  margin-right: 48px;
  white-space: nowrap;
}

.timer_text {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;

  color: rgba(255, 255, 255, 0.7);
}

/* ABOUT END */

/* OUR_WORKS START */

.our_works {
  padding: 140px 0;
  font-size: 24px;
  font-weight: 300;
  color: hsla(0,0%,100%,.7);
}

.our_works_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our_works_left {
  padding: 44px 40px 47px 48px;
  line-height: 28px;
  background-color: #262020;
  border-radius: 2px;
}

.our_works_right {
  max-width: 348.5px;
}

.white {
  color: white;
}
/* OUR_WORKS END */

/* WHAT_WE_CAN START */

.what_we_can {
  background-color: #262020;
  padding: 132px 0 140px
}

.what_we_can h2 {
  font-family: 'Artegra Sans Extended';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 78px;
  margin-left: 10px;

/* заголовок */

color: #E9E9E9;

}

.what_we_can_wrapper {
  display: flex;
  justify-content: space-between;
}

.what_we_can_left img {
  padding-top: 87px;
  margin-left: -81px;
  vertical-align: middle;
}

.list_item {
  display: flex;
  margin-bottom: 62px;
}

.list_item_count {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.5;

  padding-right: 34px;
}

.list_item_text {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.9);
}
/* WHAT_WE_CAN END */

/* OUR_PROJECTS START */

.our_projects {
  padding: 142px 0;
}

.our_projects h2 {
  font-family: 'Artegra Sans Extended';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 44px;
text-transform: uppercase;

color: #E9E9E9;
}

.projects_list {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
}

.projects_list_item {
  background-color: #262020;
  display: block;
  padding-left: 24px;
  padding-right: 31px;
  padding-bottom: 35px;
  padding-top: 25px;
  width: calc(33% - 83px);
}

.project_markup {
  margin: 10px 0 28px;
  width: 168px;
  height: 2px;
  background: linear-gradient(90deg,#d40431,#920e4b);
  border-radius: 5px;
}

.project_name {
  font-family: 'Artegra Sans Extended';
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}

.project_description {
  font-family: 'HelveticaNeueCyr';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 133% */


color: rgba(255, 255, 255, 0.6);

}

/* OUR_PROJECTS END */